MODE=LOCAL
API_URL=https://dummyjson.com/users
APP_NAME="Nakodil API Афиши"
DEVELOPER="Култышев Дмитрий Игоревич"

DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:7432/postgres"
PAYMENT_API_URL="http://localhost:9001"
PROTECTION_API_URL="http://localhost:9002"
BOOKING_TTL_MINUTES=15

RESERVATION_MINUTES=15

PAYMENT_TIMEOUT=1
PROTECTION_TIMEOUT=10

# APP
APP__MODE=LOCAL
APP__API_URL=https://dummyjson.com/users
APP__APP_NAME="Nakodil API Афиши"
APP__DEVELOPER="Култышев Дмитрий Игоревич"

# Postgres
POSTGRES__HOST=localhost
POSTGRES__PORT=7432
POSTGRES__USER=postgres
POSTGRES__PASSWORD=postgres
POSTGRES__DATABASE=postgres
POSTGRES__ECHO=false
POSTGRES__POOL_SIZE=10
POSTGRES__MAX_OVERFLOW=20

# Payment connector
CONNECTORS__PAYMENT__BASE_URL="http://localhost:9001"
CONNECTORS__PAYMENT__TIMEOUT=1

# Protection connector
CONNECTORS__PROTECTION__BASE_URL="http://localhost:9002"
CONNECTORS__PROTECTION__TIMEOUT=5

# Booking
BOOKING__RESERVATION_MINUTES=15

# Report
REPORT__API_URL=https://dummyjson.com/users

# Redis
REDIS__REDIS_URL=redis://localhost:7379/0

#Event views
EVENT_VIEWS__FLUSH_INTERVAL=5
EVENT_VIEWS__BATCH_SIZE=10
